body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.collection-item.avatar.sold-out {
  filter: saturate(15%);
}

.collection-item.avatar {
  user-select: none;
}

form button {
  width: 100px;
  margin-top: 0.5em;
}

ul li a.active {
  filter: invert(1);
}